{% extends "base.html" %}

{% block content %}

<form method="post" id="createProduct" enctype="multipart/form-data" class="my-5">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-12">
            <h4 class="mb-4">Criar Receita</h4>
        </div>
        <div class="col-md-12">
            {{ form.non_form_errors }}
            <div class="mb-3">
                {{ form.as_p }}
            </div>
            <h5>Adicionar ingredientes</h5>
            <table class="table table-striped table-hover">
                <tbody>
                    {% for formset in items_formset %}
                        <tr>
                            <td>
                                {% if items_formset.can_delete %}
                                    {{ formset.DELETE }}
                                {% endif %}
                            </td>
                            <td>
                                {{ formset.ingredient }}
                                {{ formset.value }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {{ items_formset.non_form_errors }}
            {{ items_formset.management_form }}
        </div>
    </div>
    <button type="submit" class="btn btn-primary">SALVAR</button>
</form>

{% endblock %}
