{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Acesso restrito</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/bootstrap/css/signin.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <form action="submit", method="POST" class="form-signin"> {% csrf_token %}
      <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Acesso restrito</h1>

         <label class="sr-only">Usuário</label>
         <input type="text" class="form-control" placeholder="Usuário" name="username" required autofocus>
      
         <label class="sr-only">Senha</label>
         <input type="password" class="form-control" placeholder="Senha" name="password" required>

            {% if messages %}
            {% for message in messages %}
               <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}

            {% endif %}
      <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>

      <a class="link-secondary text-decoration-none" href="{% url 'password_reset' %}"
      <p class="mt-3 text-muted">Esqueceu sua senha?</p></a>
     
      <p class="mt-5 mb-3 text-muted">&copy; 2023</p>
    </form>
    
  </body>
</html>
