{% load static %}
<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Tabela Nutricional 1.1</title>
  
  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/recipes/starter-template/">
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/starter-template.css' %}" rel="stylesheet">

 <!-- <style>
    /* Estilos CSS para posicionar o formulário no topo */
    #createProduct {
        position: absolute;
        top: 0;
        width: 70%;
        padding: 20px;
    }
</style>-->


</head>

<body>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        RECEITA
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{% url 'recipe:list' %}">VISUALIZAR RECEITAS</a>
                        <a class="dropdown-item" href="{% url 'recipe:create' %}">CADASTRAR RECEITA</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButtonIngredient" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        INGREDIENTE
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonIngredient">
                        <a class="dropdown-item" href="{% url 'ingredient:list' %}">VISUALIZAR INGREDIENTES</a>
                        <a class="dropdown-item" href="{% url 'ingredient:create' %}">CADASTRAR INGREDIENTE</a>
                    </div>
                </li>
            </ul>
            <p class="text-warning my-2 my-md-0">Olá, {{ user.username }}!</p>
            <a href="{% url 'logout' %}" class="btn btn-danger ml-md-2">SAIR</a>
        </div>
    </div>
</nav>



<main role="main" class="container">
  <div class="mt-0">
    {% block content %}{% endblock %}
  </div>
</main><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster 
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<script src="{% static 'vendor/jquery-slim.min.js' %}"></script>
<script src="{% static 'vendor/popper.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>

<script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
<script>
    $(document).ready(function () {
        // Oculte inicialmente os campos e labels usando CSS
        $(".ocultar").hide();
    
        $(document).on("click", "#toggle-campos", function () {
            console.log("Botão clicado");
            $(".ocultar").toggle();
        });

        // Adicione o evento de clique ao botão "SALVAR"
        $(document).on("click", "#salvar-btn", function () {
            console.log("Botão SALVAR clicado");
            
            // Envie o formulário programaticamente
            $("#ingrediente-form").submit();
        });
    });
</script>

<script>
    $(function () {
        $('#addIngredient tbody tr').formset({
            prefix: '{{ items_formset.prefix }}'
        });
    })
</script>





</body>
</html>
