{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div id="createProduct" >
    <form method="POST" id="ingrediente-form">
        {% csrf_token %}
        <div class="col-md-12">
            <h4 class="mb-4">Cadastrar Ingrediente</h4>
            <div id="campos" class="mb-3">
                {% crispy form %}
                <button type="submit" class="btn btn-success">SALVAR</button>
                <a href="{% url 'ingredient:list' %}" class="btn btn-danger">CANCELAR</a>
            </div>
        </div>
        <div class="col-md-12" >
            <button id="toggle-campos" class="btn btn-info">Exibir/Ocultar os demais campos</button>
        </div>
    </form>

</div>

{% endblock %}

