{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <p>
                <a href="{% url 'ingredient:list' %}" class="btn btn-info">Cancelar</a>
            </p>
        </div>
    </div>

    <h2>Incluir Ingrediente</h2>

        
        <form method="POST" class="my-class">{% csrf_token %}

            {{ form|crispy }}

            <br>
            
            <button type="submit" class="btn p-2 container btn-primary">SALVAR</button>

        </form>
    

{% endblock %}