{% load crispy_forms_tags %}
{% load static %}

<table class="col-md-9" style="margin-left: 10px;">
  
  {{ items_formset.management_form|crispy }}

  {% for form in items_formset.forms %}
      <tr class="{% cycle 'row1' 'row2' %} formset_row-{{ items_formset.prefix }}">
          {% for field in form.visible_fields %}
              <td>
                  {# Include the hidden fields in the form #}
                  {% if forloop.first %}
                      {% for hidden in form.hidden_fields %}
                          {{ hidden|as_crispy }}
                      {% endfor %}
                  {% endif %}
                  {{ field.errors.as_ul }}
                  {{ field|as_crispy_field }}
              </td>
          {% endfor %}
      </tr>
  {% endfor %}

</table>
<br>
<script src="{% static 'vendor/jquery-slim.min.js' %}"></script>
<script src="{% static 'static/recipe/libraries/django-dynamic-formset/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $('.formset_row-{{ formset.prefix }}').formset({
        addText: 'Adicionar Ingrediente',
        deleteText: ' - Remover',
        prefix: '{{ formset.prefix }}',
    });
</script>
