{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title> Resete de Senha </title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    </head>
    <body class="text-center" cz-shortcut-listen="true">
        <main class="form-signin w-25 m-auto">
            <span class="mb-0 text-danger">
                Enviamos a você por e-mail instruções para definir sua senha, caso exista uma conta com o e-mail que você digitou. Você deverá recebê-los em breve. Se você não receber um e-mail, certifique-se de inserir o endereço com o qual se registrou e verifique sua pasta de spam.
            </span>
        </main>
    </body>
</html>