{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title> Resete de Senha </title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    </head>
    <body class="text-center" cz-shortcut-listen="true">
        <main class="form-signin w-25 m-auto">
           
            <p>Sua senha foi definida. Você pode ir em frente e entrar agora.</p>

            <p><a href="{% url 'login' %}">Log in</a></p>
        </main>
    </body>
</html>